<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
	<Console name="STDOUT" target="SYSTEM_OUT" immediateFlush="false">
		<!-- %d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n -->
		<PatternLayout>
			<Pattern>%d %p %c{1.} [%t] %m %ex%n</Pattern>
		</PatternLayout>
	</Console>
	</Appenders>

	<Loggers>
		<Root level="info" includeLocation="false">
			<AppenderRef ref="STDOUT" />
		</Root>
	</Loggers>
</Configuration>
<!-- to to make all loggers asynchronous set system property -DLog4jContextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector -->
